@using Microsoft.AspNet.Identity
@{
           

                ViewBag.Title = "create";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post">
    <input type="hidden" name="st_ID" value="@User.Identity.GetUserId()" />
    <input type="date" name="date" />
    <textarea placeholder="the reason" name="Reason"></textarea>
    <input type="submit" />
</form>

